.container {
  max-width: 800px;
  margin: 30px auto;
  border-radius: 4px;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.3);
  padding: 16px;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel .panels {
  height: 200px;
}

.carousel .panels a {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  cursor: default;
  z-index: -1;
}

.carousel .panels a.active {
  z-index: 0;
}

.carousel .panels a:nth-child(odd) {
  background-color: lightskyblue;
}

.carousel .panels a:nth-child(even) {
  background-color: lightpink;
}

.carousel .arrows .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(112, 128, 144, .5);
  border: none;
  transition: all .5s;
}

.carousel .arrows .arrow:hover {
  background-color: rgba(112, 128, 144, 1);
  cursor: pointer;
}

.carousel .arrows .arrow.arrow-pre {
  left: 10px;
  transform: translate(-100%, -50%);
  opacity: 0;
}

.carousel .arrows .arrow.arrow-next {
  right: 10px;
  transform: translate(100%, -50%);
  opacity: 0;
}

.carousel:hover .arrows .arrow.arrow-pre {
  left: 10px;
  transform: translate(0, -50%);
  opacity: 1;
}

.carousel:hover .arrows .arrow.arrow-next {
  right: 10px;
  transform: translate(0, -50%);
  opacity: 1;
}

.carousel .arrows .arrow::before {
  content: '';
  border-left: 2px solid rgb(255, 255, 255);
  border-top: 2px solid rgb(255, 255, 255);
  width: 15px;
  height: 15px;
}

.carousel .arrows .arrow.arrow-pre::before {
  transform: rotate(-45deg);
}

.carousel .arrows .arrow.arrow-next::before {
  transform: rotate(135deg);
}

.carousel .indicators {
  position: absolute;
  left: 50%;
  bottom: 0;
  padding: 0;
  margin: 0;
  transform: translate(-50%, 0);
  list-style-type: none;
  display: flex;
}

.carousel .indicators li {
  display: flex;
  cursor: pointer;
}

.carousel .indicators li.active::before {
  background-color: rgb(223, 223, 215);
}

.carousel .indicators li::before {
  content: '';
  width: 40px;
  height: 4px;
  background-color: aliceblue;
  margin: 10px;
  border-radius: 4px;
}